body {
	margin:0;
	padding:0;
	color: black;
	background-color: white;
}

html, body, input, select, button, textarea, table {
	font-size: 100%;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#country-select-holder {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-right: 7px;
}

#country-select {
	width: 250px;
	height: 30px;
}

#nci-results-bar {
	display:flex;
	justify-content: space-around;
	width: 100%;
}

#nci-summary-table {
	padding-right: 7px;
}

th {
	font-weight: 300;
	padding-left: 5px;
	padding-right: 5px;
}
.table-content {
	text-align: right;
}

/* p {
	margin: 16px 0;
} */

a, a span.hljs-string {
	color: #199900;
}

a:hover, a:focus {
	color: #160;
}

/* headings */

h2 {
	font-weight: 400;
	font-size: 2em;
	font-weight: 300;
	color: black;
	margin: 0.3em;
}

h2:target {
	color: #1EB300;
}

h3 {
	margin-top: 1.5em;
	padding-top: .5em;
	color: black;
	font-weight: 500;
	font-size: 1.4em;
}


h4 {
	font-size: 1.1em;
	font-weight: 500;
	margin: 1em 0 1em;
}

/* Results bar */
#nci-frontier-plot {
	display: flex;
	justify-content: space-around;
}
#frontier-img {
	height: 285px;
}


/* Map and elements */
#map { 
    width: 100%; 
    height: 650px;}

.ctl {
  padding: 2px 10px 2px 10px;
  background: white;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  text-align: right;
}

.title {
	font-weight: 400;
	font-size: 2em;
	font-weight: 300;
	color: black;
	margin: 0.3em;
}

.src {
  font-size: 10pt;
}
